/* .navbar-brand {
    font-size: 50px;
    /* padding-left: 36%;
    /* text-align: center; */
}  */


/* .weather {
    background-color: grey;
    color: whitesmoke;
    font-size: 50px;
    padding-left: 3%;
} */

/* .form-control {
    width: 100%!important;
} */
/* .col-9 {
    border: 1px black solid;
}

.col-3 {
    border: 1px black solid;
    padding-left: 3%;
} */